@model Sitca.Models.ViewModels.CuestionarioDetailsVm

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    page-break-inside: avoid;
  }

  td,
  th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    page-break-inside: avoid;
    page-break-after: auto;
    font-size: 21px
  }

  tr:nth-child(even) {
    background-color: #dddddd;
    page-break-inside: avoid;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>

@if (Model.Lang == "en")
{

<p align="center" style="font-size:65px">SICCS</p>
<img class="center" src="@Model.path/Resources/Files/logo-caratula-SICCS.png" />

<p style="font-size:38px">File Number <b>@Model.Expediente</b></p>

<p style="font-size:38px">Company/Institution: <b>@Model.Empresa.name</b></p>

<p style="font-size:38px">Auditor: <b>@Model.Auditor.fullName</b></p>

<p style="font-size:38px">
  Auditor Card Nº:
  @if (string.IsNullOrEmpty(Model.Auditor.codigo))
  {
  <b>______________</b>
  }
  else
  {
  <b>@Model.Auditor.codigo</b>
  }

</p>

<p style="font-size:38px">Standard: <b>@Model.Tipologia.name</b></p>

<p style="font-size:38px">Date: <b>@Model.FechaFinalizacion</b></p>

<div style='page-break-after: always;'></div>


int index = 0;
int index2 = 0;


@foreach (var item in Model.Modulos)
{
index++;
<h2>@*@item.Nomenclatura*@ @if(index < 5){@index} @item.Nombre Module</h2>

    <table>
      <tr>
        <td style="width:15%">Requirement</td>
        <td style="width:60%">Question</td>
        <td style="width:10%">Yes/No</td>
        <td>Verification Mode</td>
      </tr>

      @foreach (var subItem in item.Items)
      {
      <tr>
        <td>
          @subItem.Nomenclatura
          @if (subItem.Obligatoria)
          {
          <span>(O)</span>
          }
        </td>
        <td>@subItem.Text</td>
        <td>

          @switch (subItem.Result)
          {
          case -1:
          <span><b>No</b></span>
          break;
          case 1:
          <span><b>Yes</b></span>
          break;
          case 2:
          <span><b>N/A</b></span>
          break;

          }

        </td>
        <td>
          @*@if(subItem.Id % 2 == 0)
          {
          <div style='page-break-after: always;'></div>
          }*@
        </td>
      </tr>

      }

    </table>


    <h3>Company results</h3>
    <h2>Results report</h2>

    <table>
      <tr>
        <td colspan="7">results by module @item.Nomenclatura @item.Nombre </td>
      </tr>
      <tr>
        <td>
          Module
        </td>

        <td>
          Mandatory
          Evaluated
        </td>
        <td>
          Complementary
          Evaluated
        </td>


        <td>
          Mandatory
          Compliance
        </td>

        <td>
          Complementary
          Compliance
        </td>

        <td>
          Percentaje
          Mandatory
        </td>

        <td>
          Percentaje
          Complementary
        </td>
      </tr>
      <tr>
        <td>@index</td>
        <td>@item.Resultados.TotalObligatorias</td>
        <td>@item.Resultados.TotalComplementarias</td>

        <td>@item.Resultados.ObligCumple</td>
        <td>@item.Resultados.ComplementCumple</td>

        <td>@item.Resultados.PorcObligCumple</td>
        <td>@item.Resultados.PorcComplementCumple</td>
      </tr>
      <tr>
        <td colspan="7">
          <b>Sugested Result: @item.Resultados.ResultModulo</b>
        </td>
      </tr>
    </table>

    <div style='page-break-after: always;'></div>
    }


    <h2>Results report</h2>
    @foreach (var item in Model.Modulos)
    {
    index2++;
    <h2>@item.Nomenclatura @item.Nombre</h2>


    <table>
      <tr>
        <td colspan="7">Results Module @item.Nomenclatura @item.Nombre </td>
      </tr>
      <tr>
        <td>
          Module
        </td>

        <td>
          Mandatory
          Evaluated
        </td>
        <td>
          Complementary
          Evaluated
        </td>


        <td>
          Mandatory
          Compliance
        </td>

        <td>
          Complementary
          Compliance
        </td>

        <td>
          Percentaje
          Mandatory
        </td>

        <td>
          Percentaje
          Complementary
        </td>
      </tr>
      <tr>
        <td>@index2</td>
        <td>@item.Resultados.TotalObligatorias</td>
        <td>@item.Resultados.TotalComplementarias</td>

        <td>@item.Resultados.ObligCumple</td>
        <td>@item.Resultados.ComplementCumple</td>

        <td>@item.Resultados.PorcObligCumple</td>
        <td>@item.Resultados.PorcComplementCumple</td>
      </tr>
      <tr>
        <td colspan="7">
          <b>Sugested Result: @item.Resultados.ResultModulo</b>
        </td>
      </tr>
    </table>


    }
    <div style='page-break-after: always;'></div>


    @foreach (var item in Model.Modulos)
    {
    <h3>Exhibit @item.Nomenclatura @item.Nombre Audit Photographic Report SICCS</h3>

    <table>

      <tr>
        <td style="width:15%">Item</td>
        <td style="width:30%">Document</td>
        <td>Image</td>
      </tr>
      @foreach (var subItem in item.Items)
      {
      if (subItem.Archivos != null)
      {
      foreach (var archivo in subItem.Archivos)
      {
      <tr>
        <td>
          @subItem.Nomenclatura
        </td>
        <td>
          @archivo.Nombre
          <p style="font-size:18px">@subItem.Text</p>
        </td>
        <td>
          <img style="max-height:500px;" src="@Model.path/Resources/Files/@archivo.Ruta" />
        </td>
      </tr>
      }

      }




      }

    </table>

    <div style='page-break-after: always;'></div>

    }

    }
    else
    {

    <!--ESPAÑOL-->

    <p align="center" style="font-size:65px">Sistema Integrado Centroamericano de calidad y sostenibilidad</p>
    <img class="center" src="@Model.path/Resources/Files/logo-caratula-SICCS.png" />

    <p style="font-size:38px">Número de Expediente <b>@Model.Expediente</b></p>

    <p style="font-size:38px">Nombre del Establecimiento: <b>@Model.Empresa.name</b></p>

    <p style="font-size:38px">Auditor: <b>@Model.Auditor.fullName</b></p>

    <p style="font-size:38px">
      Codigo Auditor:
      @if (string.IsNullOrEmpty(Model.Auditor.codigo))
      {
      <b>______________</b>
      }
      else
      {
      <b>@Model.Auditor.codigo</b>
      }

    </p>

    <p style="font-size:38px">Norma: <b>@Model.Tipologia.name</b></p>

    <p style="font-size:38px">Fecha: <b>@Model.FechaFinalizacion</b></p>

    <div style='page-break-after: always;'></div>


    int index = 0;
    int index2 = 0;


    @foreach (var item in Model.Modulos)
    {
    index++;
    <h2>@*@item.Nomenclatura*@ Módulo @if(index < 5){@index} @item.Nombre</h2>

        <table>
          <tr>
            <td style="width:15%">Requerimiento</td>
            <td style="width:60%">Pregunta</td>
            <td style="width:10%">Si/No</td>

          </tr>

          @foreach (var subItem in item.Items)
          {
          <tr>
            <td>
              @subItem.Nomenclatura
              @if (subItem.Obligatoria)
              {
              <span>(O)</span>
              }
            </td>
            <td>
              @subItem.Text
              @if (subItem.Archivos != null)
              {

              foreach (var archivo in subItem.Archivos)
              {
              <hr />
              <b>Archivo:@archivo.Nombre </b>

              <img style="max-height:500px;" src="@Model.path/Resources/Files/@archivo.Ruta" />

              }
              }

              @if (!string.IsNullOrEmpty(subItem.Observacion))
              {
              <hr />
              <b>Observaciones: </b>
              @subItem.Observacion
              }

            </td>
            <td>

              @switch (subItem.Result)
              {
              case -1:
              <span><b>No</b></span>
              break;
              case 1:
              <span><b>Si</b></span>
              break;
              case 2:
              <span><b>N/A</b></span>
              break;

              }

            </td>

          </tr>
          }

        </table>


        <h3>Resumen de Resultados de la Empresa</h3>
        <h2>Cuadro Resumen de resultados</h2>

        <table>
          <tr>
            <td colspan="7">Resumen de Resultados modulo @item.Nomenclatura @item.Nombre </td>
          </tr>
          <tr>
            <td>
              Modulo
            </td>

            <td>
              Obligatorios
              Evaluados
            </td>
            <td>
              Complementarios
              Evaluados
            </td>


            <td>
              Obligatiorios
              Cumplidos
            </td>

            <td>
              Complementarios
              Cumplidos
            </td>

            <td>
              Porcentaje
              Obligatiorios
            </td>

            <td>
              Porcentaje
              Complementarios
            </td>
          </tr>
          <tr>
            <td>@index</td>
            <td>@item.Resultados.TotalObligatorias</td>
            <td>@item.Resultados.TotalComplementarias</td>

            <td>@item.Resultados.ObligCumple</td>
            <td>@item.Resultados.ComplementCumple</td>

            <td>@item.Resultados.PorcObligCumple</td>
            <td>@item.Resultados.PorcComplementCumple</td>
          </tr>
          <tr>
            <td colspan="7">
              <b>Resultado Sugerido: @item.Resultados.ResultModulo</b>
            </td>
          </tr>
        </table>

        <div style='page-break-after: always;'></div>
        }


        <h2>Cuadro Resumen de resultados</h2>
        @foreach (var item in Model.Modulos)
        {
        index2++;
        <h2>@item.Nomenclatura @item.Nombre</h2>


        <table>
          <tr>
            <td colspan="7">Resumen de Resultados modulo @item.Nomenclatura @item.Nombre </td>
          </tr>
          <tr>
            <td>
              Modulo
            </td>

            <td>
              Obligatorios
              Evaluados
            </td>
            <td>
              Complementarios
              Evaluados
            </td>


            <td>
              Obligatiorios
              Cumplidos
            </td>

            <td>
              Complementarios
              Cumplidos
            </td>

            <td>
              Porcentaje
              Obligatiorios
            </td>

            <td>
              Porcentaje
              Complementarios
            </td>
          </tr>
          <tr>
            <td>@index2</td>
            <td>@item.Resultados.TotalObligatorias</td>
            <td>@item.Resultados.TotalComplementarias</td>

            <td>@item.Resultados.ObligCumple</td>
            <td>@item.Resultados.ComplementCumple</td>

            <td>@item.Resultados.PorcObligCumple</td>
            <td>@item.Resultados.PorcComplementCumple</td>
          </tr>
          <tr>
            <td colspan="7">
              <b>Resultado Sugerido: @item.Resultados.ResultModulo</b>
            </td>
          </tr>
        </table>


        }


        }
